# Homework Week1 
## ml-zoomcamp
Set up the environment
You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can use the instructions from 06-environment.md.

In [1]:
import pandas as pd
import numpy as np

## Q1. Pandas version

In [2]:
pd.__version__

'2.2.2'

Getting the data

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

--2024-09-21 22:40:48--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8003::154, 2606:50c0:8002::154, 2606:50c0:8000::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8003::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 298573 (292K) [text/plain]
Saving to: ‘laptops.csv’

laptops.csv         100%[===================>] 291.58K  --.-KB/s    in 0.05s

2024-09-21 22:40:49 (5.30 MB/s) - ‘laptops.csv’ saved [298573/298573]

In [5]:
df = pd.read_csv('laptops.csv')

## Q2. Records count
How many records are in the dataset?

In [6]:
len(df)

2160

## Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [7]:
print(df.head())

                                              Laptop Status   Brand  \
0  ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...    New    Asus
1  Alurin Go Start Intel Celeron N4020/8GB/256GB ...    New  Alurin
2  ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...    New    Asus
3  MSI Katana GF66 12UC-082XES Intel Core i7-1270...    New     MSI
4  HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...    New      HP

        Model            CPU  RAM  Storage Storage type       GPU  Screen  \
0  ExpertBook  Intel Core i5    8      512          SSD       NaN    15.6
1          Go  Intel Celeron    8      256          SSD       NaN    15.6
2  ExpertBook  Intel Core i3    8      256          SSD       NaN    15.6
3      Katana  Intel Core i7   16     1000          SSD  RTX 3050    15.6
4         15S  Intel Core i5   16      512          SSD       NaN    15.6

  Touch  Final Price
0    No      1009.00
1    No       299.00
2    No       789.00
3    No      1199.00
4    No       669.01

In [8]:
len(df.Brand.value_counts())

27

## Q4. Missing values
How many columns in the dataset have missing values?

In [9]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

## Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [10]:
df[df['Brand'] == 'Dell']['Final Price'].max()

3936.0

## Q6. Median value of Screen
Has the median changed?

Hint: refer to existing mode and median functions to complete the task.

No

In [11]:
#Find the median value of Screen column in the dataset.
df['Screen'].median()

15.6

In [13]:

df['Screen'].value_counts().head()

Screen
15.6    1009
14.0     392
16.0     174
17.3     161
13.3     131
Name: count, dtype: int64

In [14]:
#Next, calculate the most frequent value of the same Screen column.

df['Screen'].mode()[0]

15.6

In [15]:
#Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step.
df_screen_fill = df['Screen'].fillna(df['Screen'].mode()[0])

In [16]:
# Now, calculate the median value of Screen once again.
df_screen_fill.median()

15.6

## Q7. Sum of weights

What's the sum of all the elements of the result?
Note: You just implemented linear regression. We'll talk about it in the next lesson.

0.43
45.29
45.58
91.30

In [17]:
#Select all the "Innjoo" laptops from the dataset.
df_innjoo= df[df.Brand == 'Innjoo']

In [18]:
#Select only columns RAM, Storage, Screen.
df_innjoo_selected=df_innjoo[['RAM', 'Storage','Screen']]
df_innjoo_selected.drop_duplicates()

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1

In [19]:
len(df_innjoo_selected.drop_duplicates())

5

In [20]:
df_innjoo_selected

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [21]:
#Get the underlying NumPy array. Let's call it X.
X = df_innjoo_selected.to_numpy()

In [22]:
#Compute matrix-matrix multiplication between the transpose of X and X. 
#To get the transpose, use X.T. Let's call the result XTX.
XTX = X.T.dot(X)

In [23]:
#Compute the inverse of XTX.
XTX_inv = np.linalg.inv(XTX)

In [24]:
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

In [25]:
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
y = [1100, 1300, 800, 900, 1000, 1100]

In [26]:
#Multiply the inverse of XTX with the transpose of X, 
w_0 = XTX_inv.dot(X.T)
#and then multiply the result by y. Call the result w.
w = w_0.dot(y)

In [27]:
w.sum()

91.29988062995542